<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/modify.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/signup.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>정보수정</title>
</head>
<body>
<div id="header"></div>
<div id="popup">
    <!-- 팝업창으로 띄울 내용 -->
<div class="container modify-container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="signup-title">정보수정</h3>
                </div>
                <div class="panel-body">
                    <form id="modify-form" action="/modify.do" method="post">
                        <div class="form-group">
                            <label for="signupId">아이디</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="signupId" type="text" class="form-control" name="signupId" placeholder="아이디" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signupPassword">비밀번호</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="signupPassword" type="password" class="form-control" name="signupPassword" placeholder="비밀번호">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signupName">이름</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                                <input id="signupName" type="text" class="form-control" name="signupName" placeholder="이름">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signupEmail">이메일</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input id="signupEmail" type="email" class="form-control" name="signupEmail" placeholder="이메일">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signupDob">생년월일</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input id="signupDob" type="date" class="form-control" name="signupDob">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">수정 완료</button>
                    </form>
                </div>
            </div>
        </div>
    </div></div>
</div>
</body>
</html>