<!-- report.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보고서</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/report.css}" />
    <!-- jQuery 라이브러리 로드 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/report.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
</head>
<body>
<header>
    <h1>가계부</h1>
    <nav>
        <ul>
            <li><a href="main.do">홈</a></li>
            <li><a href="transaction.do">거래 추가</a></li>
            <li><a href="report.do">보고서</a></li>
            <li><a href="setting.do">설정</a></li>
        </ul>
    </nav>
    <div id="user-info">
        <span id="username">사용자이름</span>님
        <button id="modify-button" onclick="location.href='modify.do';">정보 수정</button>
        <button id="logout-button">로그아웃</button>
    </div>
</header>
<main>
    <section class="report">
        <h2>월별 지출 보고서</h2>
        <div class="report-container">
            <div class="report-item" id="reportItem">
                <h3 id="reportMonth">2024년 5월</h3>
                <p id="totalExpense">총 지출: ₩600,000</p>
                <canvas id="myChart"></canvas>
                <ul>
                    <li>식비: ₩ <input type="text" id="foodExpense" value="200,000"></li>
                    <li>교통비: ₩ <input type="text" id="transportExpense" value="100,000"></li>
                    <li>엔터테인먼트: ₩ <input type="text" id="entertainmentExpense" value="50,000"></li>
                </ul>
                <button class="excel-download-btn">엑셀 다운로드</button>
            </div>
            <div class="navigation-arrows">
                <button id="prevMonth">◀</button>
                <button id="nextMonth">▶</button>
            </div>
            <!-- 다른 월별 보고서 항목 추가 -->
        </div>
    </section>
</main>
</body>
</html>