.navbar-brand {
    font-weight: bold;
}

#logoImg {
    width: 30px;  /* 원래 의도했던 크기로 보임 */
    height: 25px;
    object-fit: contain;  /* 이미지 비율 유지 */
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-nav .nav-item {
        margin-right: 0.5rem;
    }
}