/* static/css/totalList.css */

/* 전체 내역 테이블 스타일 수정 */
#transactionTable_wrapper {
    margin-top: 20px;
    overflow-x: auto;
}
/* static/css/header.css */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main {
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}
h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* User Info */
#user-info {
    margin-right: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#username {
    font-weight: bold;
}
#logout-button {
    background-color: rgba(14, 128, 16, 0.5); /* 반투명한 녹색 */
    margin-left: 0.5rem;
    color: white;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#modify-button {
    background-color: #0e8010; /* 반투명한 녹색 */
    margin-left: 0.5rem;
    color: white;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center; /* 추가 */
}

table th,
table td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
    text-align: center; /* 추가 */
}

table th {
    background-color: #4faf53;
    font-weight: bold;
    color: white;
}

table tr:last-child td {
    border-bottom: none;
}
.delete-btn{
    border: 0;
    background: none;
    font-size: 20px;
}
.delete-btn:hover{
    color: red;
}
/* Date Search 스타일 */
.date-search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.date-search label {
    margin-right: 0.5rem;
}

.date-search input {
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.date-search button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.date-search button:hover {
    background-color: #45a049;
}